<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farst.clockin.mapper.ClockinSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.farst.clockin.entity.ClockinSetting">
        <result column="id" property="id" />
        <result column="customer_label_id" property="customerLabelId" />
        <result column="freq_type" property="freqType" />
        <result column="freq_value" property="freqValue" />
        <result column="popup_log" property="popupLog" />
        <result column="month" property="month" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="last_edit_time" property="lastEditTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,customer_label_id, freq_type, freq_value, popup_log, month, status, create_date, last_edit_time
    </sql>

</mapper>
