<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farst.customer.mapper.CustomerFollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.farst.customer.entity.CustomerFollow">
        <result column="id" property="id" />
        <result column="customer_info_id" property="customerInfoId" />
        <result column="follow_customer_info_id" property="followCustomerInfoId" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="last_edit_time" property="lastEditTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        customer_info_id, follow_customer_info_id, status, create_date, last_edit_time
    </sql>
    
    
    <select id="selectPageMyFollow" resultType="com.farst.customer.vo.MyFollowVo">
      SELECT b.*
        FROM customer_follow a
        JOIN `customer_info` b 
          ON a.`follow_customer_info_id` = b.id 
       WHERE a.`customer_info_id` = #{customerInfoId}
         AND a.status = 0 
         AND b.status = 0
        ORDER BY b.id 
    </select>
    
    
    <select id="selectPageMyFans" resultType="com.farst.customer.vo.MyFansVo">
      SELECT b.*,(case when c.id is null then false else true end) as hasFollow
        FROM customer_follow a
        JOIN `customer_info` b 
          ON a.`customer_info_id` = b.id 
        LEFT JOIN `customer_follow` c
          ON c.`customer_info_id` = #{customerInfoId}
         AND c.status = 0 
         AND b.`id` = c.`follow_customer_info_id`
       WHERE a.`follow_customer_info_id` = #{customerInfoId}
         AND a.status = 0
         AND b.status = 0 
       ORDER BY b.id
    </select>
    

</mapper>
